@using Microsoft.AspNetCore.Identity
@using fans.EntityModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <div class="menu-top">
        <a class="menu-hi" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a> 
    </div>

}
else
{
    <div class="menu-top">
        <a class="menu-button" asp-area="Identity" asp-page="/Account/Register">註冊</a>
        <a class="menu-button" asp-area="Identity" asp-page="/Account/Login">登入</a>
    </div>


}
