@model fans.Models.Member.MemberIndexViewModel

<div class="title">
    <i class="fas fa-smile"></i>  會員登記紀錄
</div>

<div class="content content-bkg">
    <table class="table table-hover" id="userIndexTable">
            <thead>
                <tr>
                    <th>偶像</th>
                    <th>會員</th>
                    <th>選擇地址</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var member in Model.Members){
                    <tr class="userRow">
                        <td>
                            @member.ClubName
                        </td>
                        <td>
                            @member.UserName
                        </td>
                        <td>
                            @member.SharedAddress
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>