@model fans.Models.Member.MemberIndexViewModel

<div class="title">
    <i class="fas fa-smile"></i>  會員登記紀錄
</div>

<div class="content content-bkg">
    <table class="table table-hover" id="userIndexTable">
        <thead>
            <tr>
                <th>Member</th>
                <th>User</th>
                <th>Club</th>
                <th>|</th>
                <th>Paid</th>
                <th>Mailed</th>
                <th>Renew</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var member in Model.Members)
            {
                <tr class="userRow">
                    <td>
                        @member.Id
                    </td>
                    <td>
                        @member.UserName
                    </td>
                    <td>
                        @member.ClubName
                    </td>
                    <td>
                        |
                    </td>
                    <td>
                        T
                    </td>
                    <td>
                        F
                    </td>
                    <td>
                        F
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>