@model fans.Models.Member.MemberIndexViewModel

<div class="title">
    <i class="fas fa-smile"></i>  會員登記紀錄
</div>

<div class="content content-bkg">
    
    @foreach(var member in Model.Members){
        <div class="memberCard">
            
            <div class="">
                
            </div>
        </div>
    }
    
</div>