
    <div class="title">
        <!-- <i class="fas fa-home"></i> 主頁 -->
    </div>

    <div class="content content-wrapper">
        
        <div class="content-slideshow">
            slideshow of advertisement
        </div>
        
        <!-- <div class="content-news content-bkg">
            cn
        </div> -->

        <div class="content-menu">
            
            <a class="content-menu-item" href="/Club/">
                <div class="content-menu-item-title">
                    代辦入會服務
                </div>
                <div class="content-menu-item-image">
                    
                </div>
            </a>

            <a class="content-menu-item">
                <div class="content-menu-item-title">
                    代購產品服務
                </div>
                <div class="content-menu-item-image">
                    
                </div>
            </a>

            <a class="content-menu-item">
                <div class="content-menu-item-title">
                    代寄服務
                </div>
                <div class="content-menu-item-image">
                    
                </div>
            </a>
        </div>

    </div>
