@model fans.Models.Club.ClubIndexViewModel

<div class="title">
    <i class="fas fa-child"></i> 代辦入會服務
</div>

<div class="content">

    @foreach(var club in Model.ClubList)
    {
        <a asp-controller="Member" asp-action="Register" asp-route-id="@club.Id">
            <div class="clubCard" style="background-image: url(../@club.ImageUrl);">
                <div class="clubCardName">
                    <div class="clubCardEnglishName">
                        @club.Name
                    </div>
                    <div class="clubCardChineseName">
                        @club.ChineseName
                    </div>
                </div>
            </div>
        </a>
    }

</div>