body, html {
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 40px auto 50px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "t t t t t t t t t t t t"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    background-color: color(pri);
    padding: $padding;
}

.title {
    grid-area: t;
    border-style: none none none none;
    border-width: 1px;
    border-color: color(icon);
    color: color(icon);
    font-weight: bold;
    height: 100%;
    width: 80%;
    min-width: 400px;
    max-width: 1000px;
    margin: 0 auto;
    padding: $padding;

    i {
        color: color(hover);
    }
}

.menu {
    
}

.content {
    grid-area: c;
    height: 100%;
    width: 80%;
    min-width: 400px;
    max-width: 1000px;
    margin: 0 auto;
    padding: $padding;
}

.footer {
    grid-area: f;
    background-color: color(pri);
    padding: $padding;
}



////////////////////////////////////////////////////////////////////
// content //
.content-bkg {
    padding: 20px;
    border-style: none;
    border-width: 1px;
    border-radius: $border-radius;
    border-color: #999;
    background-color: #f4f4f4;
}

// header //
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 100%;
        width: 200px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
    
        .logo-left {
            height: 27px;
            width: 27px;
            background-image: url(../images/Onigiri.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .logo-right {
            height: 30px;
            width: 100px;
            background-image: url(../images/logo-word.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-left: $margin-s;
        }
    }

    .bars {
        text-decoration: none;
        color: color(temp);
        cursor: pointer;
    }
}

// footer //
.footer {
    font-size: 14px;
    color: color(temp);
}