$colors: (
    pri: #f9ca24,
    sec: #f6e58d,
    headline: #ff7979,
    hover: #eb4d4b,
    temp: #f4f4f4,
    line: #95afc0,
    icon: #535c68,
);

$padding: 10px;
$padding-s: 3px;
$margin: 10px;
$margin-s: 5px;

$border-radius: 5px;